<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>
<h1>City</h1>
	<table>
		<tr>
			<td>ID:</td> <td th:text="${cityInfo.getId()}"></td>
		</tr>
		<tr>
			<td>Name:</td><td th:text="${cityInfo.getName()}"></td>
		</tr>
		<tr>
			<td>Country Code:</td><td th:text="${cityInfo.getCountryCode()}"></td>
		</tr>
		<tr>
			<td>Country Name:</td><td th:text="${cityInfo.getCountryName()}"></td>
		</tr>
		<tr>
			<td>District:</td><td th:text="${cityInfo.getDistrict()}"></td>
		</tr>
		<tr>
			<td>Population:</td><td th:text="${cityInfo.getPopulation()}"></td>
		</tr>
		<tr>
			<td>Local Weather:</td><td th:text="${cityInfo.getTemp()}"></td>
		</tr>
		<tr>
			<td>Local Time:</td><td th:text="${cityInfo.getTime()}"></td>
		</tr>
	</table>
	<p>For a fabulous weekend get away for 2 to <span th:text="${cityInfo.getName()}"></span> sign up here:
	<form action="#" th:action="@{/cities/reservation}"  method="post">
		<label for="email">Email:</label>
		<input type="text" name="email" id="email"><br>
		<input type="radio" name="level" id="luxury"><label for="luxury">Luxury $1000</label><br>
		<input type="radio" name="level" id="veryGood"><label for="veryGood">Very Good $500</label><br>
		<input type="radio" name="level" id="good" checked="checked"><label for="good" >Good $350</label><br>
		<input type="submit" value="Submit" />
	</form>
	

</body>